@use '../../styles/utils' as *;

.dashboard-container { 
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  @include breakpoint('small') {
    background-image: url('../../assets/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  };

  @include breakpoint('large') {
    background: var(--verydarkblue);
    background-image: url('../../assets/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw 50vh;
  }
}

.fylo-content {
  display: flex;
  justify-content: center;

  @include breakpoint('small') {
    flex-direction: column;
  }

  @include breakpoint('large') {
    flex-direction: row;
    align-items: flex-end;
  }
}

.fylo-upload-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--darkblue);

  width: rem(330);
  height: rem(220);

  padding: rem(45) rem(40);

  border-radius: rem(12);
  border-top-right-radius: rem(120);

  margin-bottom: rem(20);

  @include breakpoint('large') {
    margin-right: rem(40);
    margin-bottom: 0;
  }

  @include breakpoint('xlarge') {
    width: rem(380);
    height: rem(220);
  }
}

.fylo-btns {
  display: flex;
}

.fylo-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--verydarkblue);

  transition: background-color .1s ease-in-out;
  
  width: rem(50);
  height: rem(50);

  margin-right: rem(20);

  border: none;
  border-radius: 10px;

  &:hover {
    background: var(--verydarkblue100);
  }
}
