@use '../../styles/utils' as *;

.dashboard-container { 
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  @include breakpoint('small') {
    background-image: url('../../assets/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  };

  @include breakpoint('large') {
    background: var(--verydarkblue);
    background-image: url('../../assets/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw 50vh;
  }
}

.fylo-content {
  display: flex;
  justify-content: center;

  @include breakpoint('small') {
    flex-direction: column;
  }

  @include breakpoint('large') {
    flex-direction: row;
    align-items: flex-end;
  }
}

.fylo-upload-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--darkblue);

  width: rem(330);
  height: rem(220);

  padding: rem(45) rem(40);

  border-radius: rem(12);
  border-top-right-radius: rem(120);

  margin-bottom: rem(20);

  @include breakpoint('large') {
    margin-right: rem(40);
    margin-bottom: 0;
  }

  @include breakpoint('xlarge') {
    width: rem(380);
    height: rem(220);
  }
}

.fylo-btns {
  display: flex;
}

.fylo-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--verydarkblue);
  
  width: rem(50);
  height: rem(50);

  margin-right: rem(20);

  border-radius: 10px;
}

.fylo-upload-progress_bar {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--darkblue);

  width: rem(330);
  height: rem(180);
  
  border-radius: rem(12);

  color: var(--paleblue);

  @include breakpoint('large') {
    width: rem(400);
    height: rem(160);
  }

  @include breakpoint('xlarge') {
    width: rem(600);
  }
}

.fylo-upload-progress_bar-content {
  width: rem(260);

  margin-bottom: 30px;

  @include breakpoint('large') {
    width: 80%;

    margin: 0;
  }

  @include breakpoint('xlarge') {
    width: 85%;
  }
}

.fylo-progress_bar-title {
  width: 100%;

  margin-bottom: rem(15);

  text-align: center;

  @include breakpoint('large') {
    text-align: left;
  }
}

.fylo-progress_bar {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  
  width: 100%;
  height: rem(20);
  
  border: rem(2.5) solid var(--verydarkblue);
  border-radius: rem(10);
}

.fylo-progress_bar-space {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-top: rem(10);
}

.fylo-upload-tooltip {
  position: absolute;
  top: rem(140);

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white);

  width: rem(180);
  height: rem(75);

  border-radius: rem(10);

  strong {
    font-size: rem(40);
    color: var(--verydarkblue);

    margin-right: rem(10);
  }

  span {
    display: block;

    text-transform: uppercase;
    font-size: rem(13);
    font-weight: bold;
    color: var(--grayishblue);
  }
  
  @include breakpoint('large') {
    top: rem(-50);
    right: rem(40);

    border-bottom-right-radius: 0;

    &::before {
      content: '';
      border-style: solid;
      border-color: var(--white) transparent;
      border-width: 25px 0 0 25px;
      top: 95%;
      bottom: 20px;
      position: absolute;
      right: 0;
    }
  }
}